nltk==3.7
autotrain-advanced
tiktoken
altair==5.0.1
fastapi==0.101.0
google-auth==2.22.0
pandas==2.0.3
peft==0.4.0
qudida==0.0.4
tensorboard==2.14.0
typing-inspect==0.9.0
jinja2
jsonschema>=3.0
numpy>=1.21.0
toolz
pydantic>=1.7.4,<3.0.0 
pyasn1-modules>=0.2.1
urllib3<2.0
pytz>=2020.1
accelerate
packaging>=20.0
pyyaml
torch>=1.13.0
transformers
grpcio>=1.48.2
markdown>=2.6.8
mypy-extensions>=0.3.0